/*
1   320     568     P iPhone 5
2   375     627     P iPhone 6
3   414     736     P iPhone 6+
4   667     375     
5   736     414
6   768     1024    P iPad
7   1024    768
*/

@font1Size: 14px;
@bgColor: PowderBlue;
@inactiveColor: white;

body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0px;
    color: gray;
    overflow-x: scroll;
    overflow-y: scroll;
}

#svg {
    font-size: @font1Size;
    #bg-rect {
        fill: @bgColor;
    }
    path.state-path {
        stroke: @bgColor;
        &.inactive {
            pointer-events: none !important;
            fill: @inactiveColor !important; // transform: translate(2px,2px) !important;
        }
    }
    circle.vertice-circle {}
    line.edge-line {
        pointer-events: none;
    }
}

#info-g {
    rect.info-bg-rect {
        stroke: gainsboro;
        fill: @inactiveColor;
    }
    g.info-image-g {
        image {}
    }
    g.info-text-g {
        text {
            dominant-baseline: middle;
            text-anchor: middle;
        }
    }
}

#filters-div {
    position: absolute;
    background: @inactiveColor;
    .filters-year,
    .filters-report {
        display: inline-block;
        font-size: @font1Size;
        text-align: center;
    }
}

#options-div {
    position: absolute;
    background: @inactiveColor;
    width: 100%;
    height: auto;
    .option-row {
        display: inline-block;
        outline: 1px solid gainsboro;
        >* {
            font-size: @font1Size;
        }
        label {
            display: inline-block;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            dominant-baseline: central;
            &.label-small {}
            &.label-medium {}
        }
        input[type='Range'] {
            margin: 0px;
        }
    }
}



/* General Styles */

.button-object {
    cursor: pointer;
}

.unselectable {
    -webkit-touch-callout: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.loading {
    opacity: 0;
}

.collapsed {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.grayscale {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}