/*
1   320     568     P iPhone 5
2   375     627     P iPhone 6
3   414     736     P iPhone 6+
4   667     375     
5   736     414
6   768     1024    P iPad
7   1024    768
*/

@font1Size: 14px;
@bgColor: PowderBlue;
@font1Color: gray;
@outlineColor: gainsboro;
@inactiveColor: white;
@bodyMargin: 10px;
@containerMargin: @bodyMargin @bodyMargin/2 0px @bodyMargin/2;

body {
    margin: @bodyMargin @bodyMargin @bodyMargin @bodyMargin;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0px;
    color: @font1Color;
    overflow-x: scroll;
}

#svg {
    font-size: @font1Size;
    outline: 1px solid @outlineColor;
    #bg-rect {
        fill: @bgColor;
    }
    path.state-path {
        stroke: @bgColor;
        &.inactive {
            pointer-events: none !important;
            fill: @inactiveColor !important;
        }
    }
    circle.node-circle {}
    line.link-line {
        pointer-events: none;
    }
    #info-g {
        fill: @font1Color;
        #info-bg-rect {
            fill: white; // stroke: @outlineColor;
        }
        g.info-image-g {
            // outline: 1px solid @outlineColor;
            image {}
        }
        g.info-text-g {
            pointer-events: none;
            text {
                dominant-baseline: middle;
                text-anchor: middle;
            }
        }
    }
}

#filters-div {
    background: @inactiveColor;
    text-align: center;
    .filter-group {
        display: inline-block;
        margin: @containerMargin;
        outline: 1px solid @outlineColor;
        .filters-year,
        .filters-report {
            display: inline-block;
            font-size: @font1Size;
            text-align: center;
        }
    }
}

#options-div {
    background: @inactiveColor;
    text-align: center;
    .option-group {
        display: inline-block;
        margin: @containerMargin;
        vertical-align: top;
        outline: 1px solid @outlineColor;
        >* {
            font-size: @font1Size;
        }
        .option-category {
            display: inline-block;
            float: left;
        }
        .option-row {
            display: inline-block;
            float: right;
            text-align: left;
        }
        label {
            display: inline-block;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            dominant-baseline: central;
            &.label-small {}
            &.label-medium {}
        }
        input[type='Range'] {
            margin: 0px;
        }
    }
}

#debug-div {
    .debug-button {
        background: @outlineColor;
        cursor: pointer;
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.loading {
    opacity: 0;
}

.collapsed {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.grayscale {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}