/*
1   320     568     P iPhone 5
2   375     627     P iPhone 6
3   414     736     P iPhone 6+
4   667     375     
5   736     414
6   768     1024    P iPad
7   1024    768
*/
body {
  background-color: white;
  color: gray;
  font-family: sans-serif;
  font-size: 0px;
  overflow-x: auto;
  margin: 10px 0px 10px 10px;
}
#svg {
  font-size: 14px;
}
#svg #svg-defs marker.arrow {
  fill: rosybrown;
}
#svg #map-bg-rect {
  fill: #8bd1da;
}
#svg #state-paths-g path.state-path {
  pointer-events: none;
  fill: white;
  stroke: gainsboro;
  stroke-width: 2px;
}
#svg #state-paths-g path.state-path.inactive {
  fill: #8bd1da;
}
#svg #nodes-g circle.node-circle {
  fill: rosybrown;
  stroke-width: 2px;
}
#svg #links-g line.link-line {
  pointer-events: none;
  stroke: rosybrown;
}
#svg #info-bg-rect {
  fill: white;
  stroke: gainsboro;
  stroke-width: 2px;
}
#svg #info-g g.info-text-g {
  pointer-events: none;
}
#svg #info-g g.info-text-g text {
  dominant-baseline: middle;
  text-anchor: middle;
}
#filters-div {
  text-align: center;
}
#filters-div .filter-group {
  display: inline-block;
  margin: 10px 5px 0px 5px;
  outline: 2px solid gainsboro;
}
#filters-div .filter-group .filter-cell {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  outline: 1px solid gainsboro;
}
#options-div {
  text-align: center;
}
#options-div .option-group {
  display: inline-block;
  margin: 10px 5px 0px 5px;
  outline: 2px solid gainsboro;
}
#options-div .option-group div {
  height: 16px;
  line-height: 16px;
}
#options-div .option-group > * {
  font-size: 14px;
}
#options-div .option-group .option-category {
  display: inline-block;
  float: left;
}
#options-div .option-group .option-row {
  display: inline-block;
  float: right;
  text-align: left;
}
#options-div .option-group label {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  dominant-baseline: central;
}
#options-div .option-group input[type='Range'] {
  margin: 0px;
}
#debug-div .debug-button {
  cursor: pointer;
}
.loading {
  opacity: 0;
}
.unselectable {
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -ms-user-select: none;
}
.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
