/*
1   320     568     P iPhone 5
2   375     627     P iPhone 6
3   414     736     P iPhone 6+
4   667     375     
5   736     414
6   768     1024    P iPad
7   1024    768
*/
body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 0px;
}
#main-svg {
  font-size: 14px;
}
#main-svg #main-bg-rect {
  fill: lightblue;
}
#main-svg path.state-path {
  stroke: lightblue;
  stroke-width: 2px;
}
#main-svg path.state-path.inactive {
  pointer-events: none !important;
  fill: white !important;
}
#main-svg circle.vertice-circle {
  stroke-width: 1.5px;
}
#main-svg line.edge-line {
  stroke-width: 1.5px;
  pointer-events: none;
}
#main-svg #hover-g {
  pointer-events: none;
}
#main-svg #hover-text {
  dominant-baseline: middle;
  text-anchor: middle;
}
#main-svg #hover-rect {
  stroke: black;
  stroke-width: 0px;
  fill: white;
}
#main-svg #filters-g rect.grade-bg {
  opacity: 0;
}
#main-svg #filters-g rect.grade-rect {
  stroke: black;
  stroke-width: 0px;
  pointer-events: none;
}
#main-svg #filters-g text.grade-label,
#main-svg #filters-g text.filters-text {
  dominant-baseline: middle;
  text-anchor: middle;
  pointer-events: none;
}
#states-select {
  height: 25px;
}
#options-container {
  display: inline-block;
  width: 100%;
  height: auto;
}
.option-div {
  display: inline-block;
  width: 600px;
  outline: 1px solid gainsboro;
}
.option-div > * {
  font-size: 14px;
  height: 28px;
  line-height: 28px;
}
.option-div label {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  dominant-baseline: central;
}
.option-div label.label-small {
  width: 80px;
}
.option-div label.label-medium {
  width: 150px;
}
.option-div input[type='Range'] {
  width: 200px;
  margin: 0px;
}
#simulation-div label.slider-value {
  text-align: left;
}
#info-g rect.info-bg-rect {
  stroke: gainsboro;
  fill: white;
}
#info-g g.info-text-g text {
  dominant-baseline: middle;
  text-anchor: middle;
}
.vspacer-10 {
  height: 10px;
}
.vspacer-15 {
  height: 15px;
}
/* General Styles */
.hovered {
  opacity: 0.3;
}
.button-object {
  cursor: pointer;
}
.unselectable {
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
  -ms-user-select: none;
  user-select: none;
}
.loading {
  opacity: 0;
}
.collapsed {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.resizing {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
#memory-container {
  display: inline-block;
  width: 100%;
  height: auto;
  font-family: monospace;
  font-size: 14px;
}
#memory-container div {
  display: inline-block;
  width: 400px;
  height: 16px;
}
#memory-container div.cell {
  display: inline-block;
  width: 200px;
  height: auto;
}
#memory-container div.min {
  color: green;
}
#memory-container div.max {
  color: firebrick;
}
