/*
1   320     568     P iPhone 5
2   375     627     P iPhone 6
3   414     736     P iPhone 6+
4   667     375     
5   736     414
6   768     1024    P iPad
7   1024    768
*/
body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 0px;
  overflow-x: scroll;
  overflow-y: scroll;
}
#svg {
  font-size: 14px;
}
#svg #bg-rect {
  fill: lightblue;
}
#svg path.state-path {
  stroke: lightblue;
}
#svg path.state-path.inactive {
  pointer-events: none !important;
  fill: white !important;
}
#svg line.edge-line {
  pointer-events: none;
}
#svg #hover-g {
  pointer-events: none;
}
#svg #hover-text {
  dominant-baseline: middle;
  text-anchor: middle;
}
#svg #hover-rect {
  stroke: black;
  stroke-width: 0px;
  fill: white;
}
#svg #grades-g rect.grade-bg {
  opacity: 0;
}
#svg #grades-g rect.grade-rect {
  stroke: black;
  stroke-width: 0px;
  pointer-events: none;
}
#svg #grades-g text.grade-label,
#svg #grades-g text.grades-text {
  dominant-baseline: middle;
  text-anchor: middle;
  pointer-events: none;
}
#info-g rect.info-bg-rect {
  stroke: gainsboro;
  fill: white;
}
#info-g g.info-text-g text {
  dominant-baseline: middle;
  text-anchor: middle;
}
#filters-div {
  position: absolute;
  background: white;
}
#filters-div .filters-year,
#filters-div .filters-report {
  display: inline-block;
  font-size: 14px;
  text-align: center;
}
#options-div {
  position: absolute;
  background: white;
  width: 100%;
  height: auto;
}
#options-div .option-row {
  display: inline-block;
  outline: 1px solid gainsboro;
}
#options-div .option-row > * {
  font-size: 14px;
}
#options-div .option-row label {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  dominant-baseline: central;
}
#options-div .option-row input[type='Range'] {
  margin: 0px;
}
/* General Styles */
.hovered {
  opacity: 0.3;
}
.button-object {
  cursor: pointer;
}
.unselectable {
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
  -ms-user-select: none;
  user-select: none;
}
.loading {
  opacity: 0;
}
.collapsed {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.resizing {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
